body{
    margin: 0;
    box-sizing: border-box;
}

.navbar{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color:gainsboro;
}
ul{
    list-style: none;
}
ul > li{
    margin-right: 20px;
    margin-top: 15px;
}
.list{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.middle-section{
    display: flex;
}

.left{
    width: 70%;
}

.right{
    padding:80px;
}